
    <mat-accordion class="mb-3">
        <mat-expansion-panel 
            *ngFor="let project of projects" class="m-3">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{project.subject}}
                </mat-panel-title>
                <mat-panel-description>
                    DU {{project.startDate | date:'shortDate'}} AU {{project.endDate | date:'shortDate'}} Chez
                    {{project.enterpriseName}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div [innerHTML]="project.description"></div>
            <div>{{project.role}}</div>
        </mat-expansion-panel>
    </mat-accordion>