<div class=" order-md-1">
    <h4 class="mb-3">Mission</h4>
    <form [formGroup]="missionForm" (ngSubmit)="saveMission()">
        <div class="mb-3">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Entreprise" aria-label="Number" matInput
                    [matAutocomplete]="autoenteprise" formControlName="entrepriseName">
                <mat-autocomplete #autoenteprise="matAutocomplete">
                    <mat-option *ngFor="let option of (filteredEntreprise$ | async)" [value]="option.name">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="entrepriseName.invalid && (entrepriseName.dirty || entrepriseName.touched)"
                class="alert alert-danger">

                <div *ngIf="entrepriseName.errors.required">
                    Nom de l'entreprise requis
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <mat-form-field class="example-full-width">
                    <input matInput [min]="dateStartMin" [max]="dateStartMax" [matDatepicker]="pickerStart" placeholder="Du"
                        formControlName="dateStart">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
                <div *ngIf="dateStart.invalid && (dateStart.dirty || dateStart.touched)" class="alert alert-danger">

                    <div *ngIf="dateStart.errors.required">
                        Date début requis
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <mat-form-field class="example-full-width">
                    <input matInput [min]="dateEndMin" [max]="dateEndMax" [matDatepicker]="pickerEnd" placeholder="Au"
                        formControlName="dateEnd">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
                <div *ngIf="dateEnd.invalid && (dateEnd.dirty || dateEnd.touched)" class="alert alert-danger">

                    <div *ngIf="dateEnd.errors.required">
                        Date fin requis
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Projet" formControlName="projet">
            </mat-form-field>
            <div *ngIf="projet.invalid && (projet.dirty || projet.touched)" class="alert alert-danger">

                <div *ngIf="projet.errors.required">
                    Nom du projet requis
                </div>

                <div *ngIf="projet.errors.minlength">
                    3 caracteres minimum
                </div>
                <div *ngIf="projet.errors.maxlength">
                    50 caracteres maximum
                </div>
            </div>
        </div>

        <div class="mb-3">
            <mat-form-field class="example-full-width">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role of allRole" [value]="role">
                        {{role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger">

                <div *ngIf="role.errors.required">
                    Rôle requis
                </div>
            </div>
        </div>
        <div class="mb-3">
            <angular-editor [config]="config" formControlName="descriptionRole"></angular-editor>
            <div *ngIf="descriptionRole.invalid && (descriptionRole.dirty || descriptionRole.touched)"
                class="alert alert-danger">

                <div *ngIf="descriptionRole.errors.required">
                    Description du rôle requis
                </div>
            </div>
        </div>

        <div class="mb-3">
            <mat-form-field class="example-full-width">
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let fruit of technos" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(fruit)">
                        {{fruit}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Technos..." #technoInput [formControl]="technoCtrl" [matAutocomplete]="auto"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredTechnos | async" [value]="fruit">
                        {{fruit}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="techno.invalid && (technoCtrl.dirty || technoCtrl.touched)" class="alert alert-danger">

                <div *ngIf="techno.errors.required">
                    Techno requis
                </div>
            </div>

        </div>


        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </form>
</div>