<div class=" order-md-1">
    <h4 class="mb-3">Mission</h4>
    <form class="needs-validation" novalidate>
        <div class="mb-3">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Entreprise" aria-label="Number" matInput [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <mat-form-field class="example-full-width">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerStart" placeholder="Du">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6 mb-3">
                <mat-form-field class="example-full-width">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerEnd" placeholder="Au">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-3">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Projet">
            </mat-form-field>
        </div>

        <div class="mb-3">
            <mat-form-field class="example-full-width">
                <mat-label>Role</mat-label>
                <mat-select>
                    <mat-option
                        *ngFor="let role of ['Scrum Master', 'po', 'lead dev', 'dev senior', 'dev confirmé', 'big data senior', 'big data confirmé']"
                        [value]="role">
                        {{role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <angular-editor  [config]="config"></angular-editor>
        </div>

        <div class="mb-3">
            <mat-form-field class="example-full-width">
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let fruit of technos" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(fruit)">
                        {{fruit}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Technos..." #technoInput [formControl]="technoCtrl" [matAutocomplete]="auto"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredTechnos | async" [value]="fruit">
                        {{fruit}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </div>


        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </form>
</div>